@import 'carbon-components/scss/globals/scss/spacing';
@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/theme-tokens';


body:has(dds-masthead-container) > .bx--grid {
  padding-top: 49px;
}

body:has(dds-masthead-l1) > .bx--grid {
  padding-top: 98px;
}

.pricing-table {
  display: grid;
  gap: 0 $spacing-07;
  grid-template-rows: repeat(calc(7 + var(--list-length)), auto);
  grid-template-columns: repeat(16, 1fr);
  margin: $spacing-05 0;
}

.pricing-table-item {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  grid-column: span 4;
  margin-left: calc(-1 * #{$spacing-05});

  &--flag {
    background-color: $blue-60;
    color: $white-0;
    padding: $spacing-03 $spacing-05;
    grid-row: 1 / 2;
  }

  &--header {
    grid-row: 2 / span 5;
    display: grid;
    grid-template-rows: subgrid;
    gap: $spacing-05 0;
    background-color: $purple-30;
    padding: $spacing-05;
  }

  &:nth-child(2) &--header {
    background-color: $teal-20;
  }

  &--features-list {
    padding: $spacing-05;
    border: 1px solid $ui-03;
    border-top: none;
    grid-row: span var(--list-length);
    display: grid;
    grid-template-rows: subgrid;
    gap: $spacing-05 0;
  }
}
