<div>
  <c4d-card href="https://example.com">
    <c4d-card-eyebrow>Eyebrow text</c4d-card-eyebrow>
    <c4d-card-heading>Lorem ipsum dolor sit amet</c4d-card-heading>
    <c4d-card-footer>
      <svg
        slot="icon"
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        aria-hidden="true"
        width="20"
        height="20"
        viewBox="0 0 20 20">
        <path
          d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
      </svg>
    </c4d-card-footer>
  </c4d-card>

  <c4d-card href="https://example.com">
    <c4d-card-eyebrow>Eyebrow text</c4d-card-eyebrow>
    <c4d-card-heading>Lorem ipsum dolor sit amet</c4d-card-heading>
    <c4d-card-footer>
      <svg
        slot="icon"
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        aria-hidden="true"
        width="20"
        height="20"
        viewBox="0 0 20 20">
        <path
          d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
      </svg>
    </c4d-card-footer>
  </c4d-card>

  <c4d-card href="https://example.com">
    <c4d-card-eyebrow>Eyebrow text</c4d-card-eyebrow>
    <c4d-card-heading>Lorem ipsum dolor sit amet</c4d-card-heading>
    <c4d-card-footer>
      <svg
        slot="icon"
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        aria-hidden="true"
        width="20"
        height="20"
        viewBox="0 0 20 20">
        <path
          d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
      </svg>
    </c4d-card-footer>
  </c4d-card>

</div>
