
<div class="next-steps">
  <div class="cds--css-grid">
    <div class="cds--col-span-12 cds--col-start-5">
      <c4d-cta-block no-border>
        <c4d-content-block-heading>
          Take the next step
        </c4d-content-block-heading>

        <c4d-content-block-copy>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem velit exercitationem tempora dicta placeat at veritatis corrupti nesciunt numquam distinctio? Itaque, fugiat! Pariatur, voluptatem odio.</c4d-content-block-copy>
        <c4d-text-cta
          slot="action"
          cta-type="local"
          icon-placement="right"
          href="example.com"
        >
          Learn more
        </c4d-text-cta>
      </c4d-cta-block>
    </div>
  </div>
</div>
